@-webkit-keyframes kenny {
  0% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
    background-color: white;
  }
  50% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    background-color: wheat;
  }
  75% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
    background-color: silver;
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    background-color: wheat;
  }
}

@keyframes kenny {
  0% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
    background-color: white;
  }
  50% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    background-color: wheat;
  }
  75% {
    -webkit-transform: translatex(20px);
            transform: translatex(20px);
    background-color: silver;
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    background-color: wheat;
  }
}

body {
  background: linear-gradient(315deg, rgba(241, 67, 241, 0.39), rgba(127, 6, 131, 0.6), rgba(241, 67, 241, 0.3)), url(./VGG-vibranium-140.jpg) center/cover fixed no-repeat;
}

.container {
  width: 50vw;
  margin: 5px auto;
  padding: 10px 20px;
  background: rgba(100, 25, 100, 0.8);
  color: white;
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-weight: 700;
}

small {
  color: #cfcccc;
  padding-left: 1rem;
  padding-top: 0.2rem;
  font-size: 0.6em;
}

.fg {
  margin-bottom: 1rem;
}

.sty {
  display: block;
  height: calc(1.5em + 0.55rem + 2px);
  padding: 0.2rem 0.75rem;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: kenny;
          animation-name: kenny;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  width: 100%;
  font-weight: 400;
  color: #495057;
}

.sty:hover {
  background-color: plum;
  border-color: orchid;
  color: white;
}

.sty:hover:focus {
  color: black;
  background: -webkit-gradient(linear, left top, right top, from(wheat), to(#f0b17a));
  background: linear-gradient(90deg, wheat, #f0b17a);
  border: 2px solid sandybrown;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
  border-radius: 0%;
  -webkit-animation: cubic-bezier(1, 1, 1, 1);
          animation: cubic-bezier(1, 1, 1, 1);
}

label {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

#flrt, .log {
  display: block;
  float: right;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

#flrt:hover, .log:hover {
  color: black;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  border-color: #8f9092;
}

.fci {
  margin-left: 0.75rem;
}

.regist {
  display: block;
  height: calc(1.5em + 0.55rem + 2px);
  padding: 0.2rem 0.75rem;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  margin: auto 20%;
  font-weight: 700;
  text-align: center;
  color: black;
}

.regist:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(wheat), to(#330d2e));
  background: linear-gradient(wheat, #330d2e);
}

a {
  color: white;
}

a:hover {
  color: wheat;
  font-weight: 700;
}
